<h1></h1>

<div>
    <p> Congratulaions! You are Registered for the <%= @event.name %> Event.</p><br />
    <p> It will be on <%= @event.address%>,<%=@event.city%>, <%=@event.province%>, <%=@event.country%></p>
    

</div>
