<p id="notice"><%= notice %></p>

<h1>Upcoming Events</h1>

<table>
<!--  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Province</th>
      <th>Postal code</th>
      <th>Country</th>
      <th>Event date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>-->

  <tbody>
    <% @events.each do |event| %>
      <tr>
        
        <!--<td><%= event.address %></td>
        
        <td><%= event.province %></td>
        <td><%= event.postal_code %></td>
        <td><%= event.country %></td>
        <td><%= event.event_date %></td>
        <td></td>-->
        <td></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
   
<div class="container">
  <div class ="row">
    <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i><%= event.name %></h4>
                    </div>
                    <div class="panel-body">
                        <p><b><%= event.city %></b></p>
                        <p><%= event.description %></p>
                        <a class="btn btn-default" <%= link_to 'More About Event', event %> </a>
                    </div>
                </div>
            </div>
            <% end %> 
  </div>
</div>


  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
