<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @event.province %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @event.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @event.country %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<% if (user_signed_in? && current_user.admin?) %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
<% if (user_signed_in? && !current_user.admin?) %>
  <%= link_to "Book a Ticket", {:controller => "event_user", :action => "add_to_table", :user => User.find(params[:id]), :event => @event.id }%>
<% end %>