<!DOCTYPE html>
<html>
<head>
  <title>EventHub</title>
  <!-- <%= image_tag("logo40.png") %>   -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'about' %>
  <%= stylesheet_link_tag    'events' %>
  <%= stylesheet_link_tag    'users' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><%= image_tag("eventhub.png", :alt => "rss feed") %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                           <%= link_to('Home', events_path(@user)) %>
                    <!--   <a href="#"><span class= "glyphicon glyphicon-home" >Home</span></a>  -->
                    </li>
                    
                    <li>
                       <%= link_to('About Us', about_about_path(@user)) %>
                    </li>
                    <li>
                            <%= link_to "Contact Us", contact_us_contact_path %>
                    </li>
                    <li>
                        <% if !user_signed_in? %>
                            <%= link_to"Create New Event", new_user_session_path(@user)%>
                        <% end %>
                        <% if user_signed_in? %>
                            <%= link_to"Create New Event", new_event_path(@event)%>
                        <% end %>
                        
                    </li>
                    <li>
                        <% if !user_signed_in? %>
                            <%= link_to"Login", new_user_session_path(@user)%>
                        <% end %>
                        <% if user_signed_in? %>
                            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                        <% end %>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Account Settings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <%= link_to'Edit User', edit_user_registration_path(@user) %>
                            </li>
                            <li>
                                <%= link_to'Reset your Password', new_user_password_path(@user) %>
                            </li>
                            <li>
                                <% if (!user_signed_in? || (user_signed_in? && !current_user.admin?)) %>
                                  
                                <% end  %>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <% if user_signed_in? %>
                           <p id="current_user_lable"> Hi! <%= current_user.name %> </p>
                        <% end %>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/assets/backimage1.png');"></div>
                <div class="carousel-caption">
                    <h2>Welcome to our events HUB!</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/assets/My-Image13.png');"></div>
                <div class="carousel-caption">
                    <h2>Welcome to our events HUB!</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/assets/WelcomeChurch.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Welcome to our events HUB!</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <%= yield %>
        <!-- /.row -->
        <hr>
        <!-- Call to Action Section -->
            <div class="row">
                <div class="col-md-8">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <%= link_to('Home', events_path(@user)) %>
                        </li>
                        <li>
                           <%= link_to('About Us', about_about_path(@user)) %>
                        </li>
                        <li>
                            <%= link_to "Contact Us", contact_us_contact_path %>
                        </li>
                    </ul>
                    <div>
                        
                    </div>
                </div>
            </div>
        

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; eventhub@conestoga</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
</body>
</html>
